body {
  background: #333;
}
.box {
  background: white;
  height: 200px;
  width: 200px;
  animation-name: anime1;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  /*animation-delay: 2s;*/
  animation-direction: alternate-reverse;
}
@keyframes anime1 {
  from {
    width: 200px;
  }
  to {
    width: 600px;
  }
}